.devPeriod__button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 7px;
  color: white;
  background: $red;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  z-index: 9001;
  cursor: pointer;
}

.devPeriod__block.disabled {
  display: none;
}

.devPeriod__block {
  position: fixed;
  background: rgba($black, .95);
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  opacity: 0;
  .info {
    width: 420px;
    background: $white;
    li {
      list-style: none;
      text-align: center;
      p {
        text-align: center;
        width: calc(100% - 30px);
        padding: 0 15px;
      }
      h1 {
        text-align: center;
        padding: 0 15px;
        margin: 15px 0;
        width: calc(100% - 30px);
      }
      form {
        width: calc(100% - 30px);
        padding: 0 15px;
        p {
          margin: 0;
          padding: 0;
          width: 100%;
          span {
            width: 100%;
            textarea {
              resize: none;
              border: 0;
              width: calc(100% - 20px);
              padding: 10px;
              background-color: $black;
              color: $white;
            }
          }
          input {
            width: 100%;
            margin: 10px 0 0 0;
            padding: 15px 0;
            border-radius: 0;
            background-color: $black;
            color: $white;
            transition: background-color .2s cubic-bezier(.33, 1, .68, 1);
            border: none;
            &:hover {
              background-color: $red;
              color: $white;
            }
          }
        }
      }
    }
    .close {
      width: 30px;
      height: 30px;
      margin-left: auto;
      margin-right: 0;
      cursor: pointer;
      background: $red;
      color: $white
    }
  }
}