$red: #dc2229
$red-gradient: linear-gradient(45deg, rgba(248,18,25,1) -10%, rgba(197,0,92,1) 110%)

@import 'libs/norm'

*
    font-family: 'Montserrat', sans-serif
    box-sizing: border-box

body
    background: url('../img/bg3.png') fixed
    background-size: 100%
    overflow-x: hidden

::selection, ::-moz-selection  
    background: rgba(0, 0, 0, 0.3)
    color: rgb(255, 255, 255)

@import 'mixins/main'
@import 'mixins/block' 
@import 'mixins/hover-link'

@import 'components/header' 
@import 'components/content' 
@import 'components/footer'

@import 'components/min' 