.info
  color: #ffffff
  float: right
  margin: 50px 200px 0 0
  width: calc(45% - 300px)
  max-width: 450px
  padding: 10px 50px 0
  border-radius: 13px
  text-align: center
  +block(black, .7, 13px)
  .headerDescription
    padding: 0
    margin: 0
    .widget_text
      list-style: none
      p a
        cursor: pointer
        color: $white
        text-decoration: none
        &:hover
          text-decoration: underline !important

@media screen and (max-width: 1310px)
  .info
    border-radius: 13px 0 0 13px
    font-size: 18px
    width: calc(50% - 100px)
    max-width: none
    font-weight: 600
    margin: 50px auto 0
    .menu-social-menu-container ul li a svg
      width: 24px
      height: 24px
      g
        width: inherit
        height: inherit

@media screen and (max-width: 900px)
  .info
    margin-top: 10px
    width: calc(100% - 100px)
    border-radius: 13px 13px 0 0

@media screen and (max-width: 500px)
  .info
    font-size: 3.5vw
