footer
	margin-top: 85px
	text-align: center
	width: 100%
	background: rgba($red, .8)
	padding: 20px 0
	p
		font-size: 105%
		color: #eeeeee
		font-weight: 500
		margin-bottom: 5px
	.social a
		width: 25px
		color: black
		margin-top: 25px
		cursor: pointer
		&:hover
			opacity: .8