.footer
	margin-top: 85px
	text-align: center
	width: 100%
	background: #dc2229
	padding: 10px 0 10px 0
	p
		font-size: 105%
		color: white
		font-weight: 500
		margin: 5px 0
	.social a
		width: 25px
		color: black
		margin: 25px 0
		cursor: pointer
		&:hover
			opacity: 0.8